.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0 1rem 0;
  width: 100%;
}

.logo {
  position: relative;
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    padding: 1rem;
  }

  .center {
    padding: 1rem 0;
    flex-direction: column;
    gap: 0.5rem;
  }
}
